@import "selects";

$primary: #0064B6;
$secondary: #F4B200;
$dark: #022c4d;
$light: #f9fafc;
$gray-light: #eeeeee;
$blue-light: #00a3e7;

// DEFINE ==============================================================================================================
.bg-light-primary {background-color: $light;}
html body {background: white;
  .content .content-wrapper {min-height: 49rem;}
  .dropdown-menu {padding: 0;}
  .breadcrumb-wrapper .breadcrumb {text-transform: none;}
  label {opacity: 0.7; font-size: 90%;}
  .progress-sm {height: 10px;}
  .badge-sm {padding: .45em .4em; min-width: 7.5rem;}
  .cursor-pointer{cursor: pointer;}
}

// HEADER ==============================================================================================================
.header-navbar {min-height: 4rem; height: 4rem;
  .navbar-header {
    .navbar-brand {padding-top: 4px;
      .brand-logo {width: 130px;}
    }
  }
  .navbar-container {padding: 0 8px;
    .avatar img {width: 32px; height: 32px;}
    ul.nav li a {
      &.menu-toggle {padding: 1.6rem .8rem 1rem 1rem;}
      &.nav-link-label {padding: 1.6rem 0 1rem .8rem;}
      &.nav-link-expand {padding: 1.65rem 1rem 1.3rem 1rem;}
    }
    .search-input.open input {height: 71px;}
  }
}
.navbar-expand-md .navbar-nav .dropdown-menu {margin-top: -.25rem; padding: 0;}
.horizontal-menu .navbar-container .search-input.open {margin-top: -3px}
.navbar-dark {background-color: #022C4D;}
.dropdown-toggle::after {display: none;}
.card-header .btn i {padding-right: .5rem;}

// BUTTONS =============================================================================================================
.btn-sm, .btn-group-sm > .btn {padding: .8rem 2.5rem;}

// BREADCRUMBS =========================================================================================================
.breadcrumb-item + .breadcrumb-item {padding-left: 0;}

// SIDEBARS ============================================================================================================
.main-menu.menu-light .navigation > li {
  & > a {padding-left: 36px!important;
    i {display: none;}
  }
  &.open {border-color: $secondary;
    & > a {padding-left: 32px!important;}
  }
}

// TABLES ==============================================================================================================
.table {
  .badge-sm {padding: .8em .4em;}
  &.has-sorting {
    .sorting , .sortingDesc, .sortingAsc {position: absolute; top: -3px; right: -2rem; opacity: 1; font-size: 1.2em; cursor: pointer;
      &::before, &::after {opacity: 1}
      &::before {content: "\2191";}
      &::after {content: "\2193";}
    }
  }
  &.table-sm {
    th, td {padding: 0.6rem 1.5rem;}
  }
  caption {caption-side: top;
    i {padding-right: .5rem;}
  }
  thead th {background-color: #f9fafc; color: $primary; font-size: .75rem; text-transform: uppercase;
    &:last-child > div {display: none!important;}
  }
  th, td {padding: .75rem 1.5rem;}
  th, tr td {vertical-align: middle;
    &:last-child {padding: 10px; width: 1%!important; min-width: 91px; text-align: center;
      .btn {padding: .75rem .5rem;}
    }
  }
  &.table-ellipsis tbody td:not(:last-child) {max-width: 180px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
}

// CARDS ===============================================================================================================
.card-header {
  &.card-header-main {height: 81px;}
  .heading-elements, .heading-elements-toggle {
    a {margin-left: 6px; padding: 9px 11px; border-color: #ccc!important;
      &:hover {background-color: #eff4f8;}
    }
  }
}
.card-content {padding: 1.5rem;}
.card.max-height {min-height: 45rem;}
.card-section {margin-bottom: 0;
  .card-header {margin-bottom: 0; padding-bottom: 0;
    .form-section {margin-bottom: 0;}
  }
  .card-body {padding-bottom: 0;}
}


//.react-datepicker-wrapper{
//  width: 100%;
//}

// TABS ================================================================================================================
.card.max-height {min-height: 45rem;}
.card-header {min-height: 61px;}

/*---------Table Sorting Style------------*/
.table.has-sorting .sorting ,
.table.has-sorting .sortingDesc,
.table.has-sorting .sortingAsc
{
  position: absolute;
  cursor: pointer;
  right: 0.5em;
  top: 0.5em;
  opacity: 1;
  font-size: 1.2em;
}
.table.has-sorting .sorting:before,
.table.has-sorting .sortingDesc:before,
.table.has-sorting .sortingAsc:before
{
  content: "\2191";
}
.table.has-sorting .sorting:after ,
.table.has-sorting .sortingDesc:after,
.table.has-sorting .sortingAsc:after
{
  content: "\2193";
}

.table.has-sorting .sortingDesc:before,
.table.has-sorting .sortingAsc:after {
  opacity: 0
}
/*---------End Table Sorting Style------------*/


//.ReactModal__Content.modal-dialog{
//  outline: none;
//}

// FORM ================================================================================================================
.was-validated :invalid ~ .invalid-feedback, .was-validated :invalid ~ .invalid-tooltip, .is-invalid ~ .invalid-feedback, .is-invalid ~ .invalid-tooltip {
  position: absolute; top: 0; right: 1rem; display: flex; flex-direction: row-reverse;}
article.form-control, .form-control-plaintext {background-color: $gray-light; border: 0;}
form .form-section {margin-bottom: 1rem; font-weight: 500; letter-spacing: 2px; color: $dark; border-color: $gray-light}

// FILTERS =============================================================================================================
.filter-wrapper .filter-content {right: 2rem; width: 340px;}

.table.has-sorting .sorting ,
.table.has-sorting .sortingDesc,
.table.has-sorting .sortingAsc
{
  position: relative !important;
  cursor: pointer;
  right: 0 !important;
  top: 0 !important;
  padding-left: 12px !important;
  line-height: 14px !important;
  opacity: 1;
  font-size: 1.2em;
}

